@model IEnumerable<Tracker_Application.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div claclass="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None">
            <e-grid-columns>
                <e-grid-column headerText="Category" field="Title"></e-grid-column>
                <e-grid-column headerText="Type" field="Type"></e-grid-column>
                <e-grid-column headerText="Actions"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>